mctools/__pycache__
mctools/modules/__pycache__
examples/__pycache__
example1.py
example2.py
.vscode
mctools/c/src/*.exe
mctools/c/src/*.pdb
mctools/c/src/*.obj
mctools/c/src/*.ilk
mctools/c/src/*.o
build